body {
    margin: 0px;
    /* background-size: cover; */
    min-width: 100%;
    
}
.main-bg-container{
    width: 100%;
    font-family: Arial;
    background-image: linear-gradient(to right, #f6c58e, #f89bff);
}
header {
    background-color: #e66060;
    /* color: white; */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    font-family: Georgia;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    display: block;
}
.main-page {
    display: flex;
    justify-content: space-around;
}
.left-content{
    flex: 1;
    max-width: 600px;
    margin: 100px;
}
.left-content > h1{
    margin-bottom: 60px;
}
h1{
    font-family: Arial;
    font-weight: bold;
    font-size: 60px;
    
    
}
.left-content > p {
    margin-bottom: 60px;
}
p {
    font-size: 20px;
    font-family: Arial;
    

}
.right-content img {
    max-width: 100%;
    min-height: 100%;
}
.click-me {
    display: inline-block;
    text-align: center;
    padding: 10px 20px 0px 20px;
    width: 160px;
    height: 30px;
    background-color: #e66060;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.click-me:hover {
    background-color: #cc56cc;
}
.picture{
    height: 25px;
}

.second-page{
    background-image: linear-gradient(to right, #f6c58e, #f89bff);
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.images-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    /* width: 50%; */
}
.two-images{
    display: flex;
    flex-direction: column;
    max-width: 300px;   
}
.two-images > img {
    margin: 5px 17px 5px 7px;
    height: 227px;
    width: 272px;
}
.images-container > img{
    height: 470px;
}
.second-page-content{
    padding: 20px;
    
    background-color: #e66060;
    width: 50%;
}
.click-button{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;

}

@media screen and (max-width: 968px){
    .main-page {
        flex-direction: row;
        /* text-align: center; */
    }
    nav > a {
        font-size: 12px;
    }
    .left-content {
        max-width: 100%;
        /* margin: 20px auto; */
        order: 1;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }

    .right-content img {
        max-width: 100%;
        height: auto;
    }
    .second-page{
        width: 100%;
        flex-direction: column;
        padding: 5px;
    }
    .two-images{
        flex-direction: row;
        justify-content: space-around;
    }
    .images-container{
        min-width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .images-container > img{
        height: 100%;
        max-width: 100%;
    }
    .two-images > img {
        height: 240px;
        /* min-width: 100%; */
        margin: 2px;
    }
    .second-page-content{
        min-width: 100%;
        padding: 20px 6px 20px 6px;
        margin: 0px;
    }
}
@media screen and (max-width: 768px) {
    .main-page {
        flex-direction: column;
        text-align: center;
    }
    nav > a {
        font-size: 12px;
    }
    .left-content {
        max-width: 100%;
        margin: 20px auto;
        order: 1;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .right-content img {
        max-width: 100%;
        height: auto;
    }
    .second-page{
        width: 100%;
        flex-direction: column;
        padding: 5px;
    }
    .two-images{
        flex-direction: row;
        justify-content: space-around;
    }
    .images-container{
        min-width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .images-container > img{
        height: 100%;
        max-width: 100%;
    }
    .two-images > img {
        height: 240px;
        /* min-width: 100%; */
        margin: 2px;
    }
    .second-page-content{
        min-width: 100%;
        padding: 20px 6px 20px 6px;
        margin: 0px;
    }

}

@media screen and (max-width: 480px) {
    .main-page{
        display: flex;
        flex-direction: column;
    }
    nav > a {
        font-size: 8px;
    }
    .left-content{
        order: 1;
    }
    .right-content{
        order: 0;
    }
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
    .second-page{
        /* width: 100%; */
        flex-direction: column;
        padding: 5px;
    }
    .images-container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .images-container > img{
        height: 100%;
        max-width: 100%;
    }
    .two-images{
        flex-direction: column;
    }
    .two-images > img {
        height: 240px;
        min-width: 100%;
        margin: 2px;
    }
    .second-page-content{
        min-width: 100%;
        padding: 20px 6px 20px 6px;
        margin: 0px;
    }

}